body {
    margin: 0;
    font-family: Garamond;
    text-align: center;
    background: lavender;
}

.bnaner,
.stopka {
    background: #af8eb5;
    color: white;
    padding: 10px;
}

.blok_lewy,
.blok_srodkowy,
.blok_prawy {
    background: #e1bee7;
    width: 30%;
    height: 500px;
    padding-top: 40px;
    margin: 15px;
    box-shadow: 10px 10px 10px dimgray;
}

a {
    color: indigo;
    font-size: 150%;
    padding: 10px;
    font-weight: bold;
}

a:hover {
    background: indigo;
    color: white;
}

img,
table {
    border: 1px solid;
    width: 80%;
    height: 65%;
    margin: 40px auto;
}

.container {
    display: flex;
}
