body {
  font-family: Helvetica;
  margin: 0;
}

.blok_banera,
.blok_stopki {
  background: #00838f;
  color: white;
  padding: 5px;
  font-size: 130%;
  text-align: center;
}

.blok_lewy {
  width: 55%;
  background: #efefef;
}

.blok_lewy_gorny {
  height: 150px;
}

.blok_lewy_dolny {
  height: 300px;
}

.blok_srodkowy {
  display: flex;
  height: 450px;
}

.blok_prawy {
  background: #4fb3bf;
  width: 45%;
  height: 450px;
  text-align: center;
}

.img {
  margin: 20px;
  width: 400px;
  box-shadow: 10px 10px 7px DimGray;
}

.table {
  margin: auto;
  width: 80%;
}

.table,
.tr,
td {
  border: 1px solid #4fb3bf;
  border-collapse: collapse;
  padding: 4px;
}

.th {
  font-weight: 700;
  border: 1px solid #4fb3bf;
  border-collapse: collapse;
  text-align: center;
  padding: 4px;
}

tr:hover {
  background: #4fb3bf;
}

.link {
  display: block;
}
