body {
    margin: 0;
    font-family: Helvetica;
}

.baner,
.stopka {
    background: #b3bc6d;
    color: white;
    text-align: center;
    padding: 5px;
}

.dane {
    background: #ffffce;
    color: olive;
    padding: 10px 150px;
}

.blok_lewy,
.blok_prawy {
    background: #e6ee9c;
    width: 25%;
    height: 450px;
    text-align: center;
}

.blok_srodkowy {
    background: #ffffce;
    width: 50%;
    height: 450px;
}

table {
    border: 1px solid olive;
    margin: auto;
    width: 70%;
}

h2 {
    text-align: center;
}

h2::first-letter {
    font-size: 150%;
    color: olive;
}

img {
    height: 100px;
    padding: 7px;
}

img:hover {
    background: #b3bc6d;
}

.content {
    display: flex;
}
